.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
}
.logo{
    height: 30px;
}
.header nav {
  
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    color : red;
}